<nav class="bg-dark d-flex justify-content-around shadow mb-2 p-2">
  <h5 class="text-light">Hi {{user.role}} : {{user.firstName}} </h5>
  <div class="d-flex">
    <p class="text-light">Email: {{user.email}}</p>
    <button type="button" class="btn btn-primary" id="logout">log out</button>
  </div>
</nav>
{{log user}}
<div class="container">
  <div class="row" id="products-container">
    {{!-- PRODUCTS HERE --}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>