<nav class="bg-dark d-flex justify-content-around shadow mb-2">
  <h3 class="text-light">Hi: {{user.username}}</h3>
  <h3 class="text-light">Email: {{user.email}}</h3>
</nav>

<div class="container">
  <div class="row" id="products-container">
    {{!-- PRODUCTS HERE --}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>