<div class="container justify-content-center">
    <h1>Login</h1>
    <form id="loginForm">
      <lable> Email </lable>
      <input name="email">
      <br />
      <lable> Password </lable>
      <input name="password" type="password">
      <input type="submit">
    </form>
    <p>are you not registered?<a href="/users/register"> sign up here </a></p>
</div>

<script src="/js/login.js"></script>