<p class="text-center"> Real Time Products</p>
<div class="container">
  <div class="row" id="products-container">
    {{!-- PRODUCTS HERE --}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>