<div class="container justify-content-center">
  <h1>Register</h1>
  <form id="registerForm">
    <lable> Username </lable>
    <input name="username">
    <br />
    <lable> Age </lable>
    <input name="age ">
    <br />
    <lable> Email </lable>
    <input name="email">
    <br />
    <lable> Password </lable>
    <input name="password">
    <input type="submit">
  </form>
  <p>Have you an account?<a href="/users/login"> log in here </a></p>
</div>

<script src="/js/register.js"></script>